<div>
  <div ng-class="{'receipt-overlay': enlarged}"></div>
  <ul class="thumbnails">
    <li ng-class="{'receipt-modal-open': enlarged}">
      <ul ng-show="enlarged" class="nav nav-pills receipt-controls">
        <li><a class="btn btn-small" title="rotate" href="#" ng-click="rotateImage($event)"><i class="icon-repeat"></i></a></li>
        <li><a class="btn btn-small" title="download" href="#" ng-click="downloadImage($event)"><i class="icon-download-alt"></i></a></li>
        <li class="pull-right"><a class="close" title="close" href="#" ng-click="shrinkImage($event)">&times;</a></li>
      </ul>
      <canvas class="image-canvas" width="200" height="200" ng-click="enlargeImage($event)"></canvas>
    </li>
  </ul>
</div>