<div>
  <div ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" alert>{{alert.msg}}</div>
  <form ng-submit="addCategory()">
    <fieldset>
      <legend>New Category</legend>
      <input type="text" ng-model="newCategory.name" placeholder="Category name" autofocus>
      <select ng-model="newCategory.categoryType">
        <option ng-repeat="type in types" value="{{type}}">{{type | capitalize}}</option>
      </select>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
  <div class="alert alert-info" ng-show="!categories || categories.length == 0">
    <div><strong>No categories!</strong> No expenses can be created without at least one category.</div>
  </div>
  <table class="table table-striped table-bordered table-hover" ng-show="categories && categories.length > 0">
    <caption>Existing Categories</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th><input type="text" class="search-query pull-right" placeholder="Search" ng-model="search.$"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="categoryRow" ng-repeat="category in categories | filter:search | orderBy:'name'" ng-click="editUrl(category.id)">
        <td>{{category.id}}</td>
        <td>
          <div class="view">{{category.name}}</div>
        </td>
        <td>
          <div class="view">{{category.categoryType | capitalize}}</div>
        </td>
        <td>
          <button type="button" class="close" ng-click="deleteCategory($event, category)">&times;</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>